.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container {
    border-right: 1px solid black;
}

.cart-container {
    margin: 10px;
}

/* Search form styling  */
.search-container {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.918);
    text-align: center;
}
.search-container input {
    width: 50%;
    margin: 10px;
    border-radius: 10px;
}
