.product {
    display: flex;
    margin-left: 20px;
    border-bottom: 1px solid lightgray;
    margin-right: 5px;
}

.name {
    color: blue;
}

.product-details {
    padding: 0px 10px;
    margin-left: 10px;
}
