.header {
    text-align: center;
    margin: 10px 0px;
}

.logo {
    height: 50px;
}

.header nav {
    background-color: rgba(0, 0, 0, 0.692);

    line-height: 40px;
}

.header nav a {
    text-decoration: none;
    color: #fff;
    padding: 5px 8px;
    font-size: 20px;
    font-weight: 500;
    transition: 0.4s;
}

.header nav a:hover {
    background-color: chocolate;
    color: #fff;
    border-radius: 10px;
}
